name: Run python tests with pytest
# on: push
on: [repository_dispatch, workflow_dispatch]
jobs:
  pytest_and_coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.12'
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          sudo apt install -y base-files bash coreutils libc-bin libc6:amd64 libfribidi0:amd64 libpython3.12-minimal:amd64 libpython3.12-stdlib:amd64 locales media-types ncurses-base openssl python3.12-minimal tzdata
          pip install cloudpickle==3.1.2 diskcache==5.6.3 docstring_parser==0.17.0 duckduckgo_search==8.1.1 fakeredis==2.33.0 importlib_metadata==8.7.1 pathvalidate==3.3.1 prometheus_client==0.24.1 pydantic_core==2.41.5 pytz==2025.2 semchunk==2.2.2 sentinels==1.1.1 uuid_utils==0.13.0 uv==0.9.26 wheel==0.45.1
      - run: |
          python -m pytest --cov=application --cov-report=xml --cov-report=term-missing
    env:
      ACCEPT_EULA: Y
      BOOTSTRAP_HASKELL_NONINTERACTIVE: '1'
      DEBIAN_FRONTEND: noninteractive
      DOTNET_MULTILEVEL_LOOKUP: '0'
      DOTNET_NOLOGO: '1'
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: '1'
      HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS: '3650'
      HOMEBREW_NO_AUTO_UPDATE: '1'
      HOSTNAME: pop-os
      ImageOS: ubuntu24
      ImageVersion: 20260105.202.1
      KMP_DUPLICATE_LIB_OK: 'True'
      KMP_INIT_AT_FORK: 'FALSE'
      LC_CTYPE: C.UTF-8
      POWERSHELL_DISTRIBUTION_CHANNEL: GitHub-Actions-ubuntu24
      PYTEST_VERSION: 9.0.2
      SHLVL: '1'
      TERM: xterm
      _PYI_LINUX_PROCESS_NAME: sawra
      _PYI_PARENT_PROCESS_LEVEL: '1'
