name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  pytest_and_coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.12'
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          pip install -r application/requirements.txt 
          pip install -r tests/requirements.txt
          pip install cloudpickle==3.1.2 diskcache==5.6.3 docstring_parser==0.17.0 fakeredis==2.33.0 importlib_metadata==8.7.1 pathvalidate==3.3.1 prometheus_client==0.24.1 pydantic_core==2.41.5 semchunk==2.2.2 sentinels==1.1.1 uuid_utils==0.13.0 uv==0.9.26
      - run: |
          python -m pytest --cov=application --cov-report=xml --cov-report=term-missing
    env:
      KMP_DUPLICATE_LIB_OK: 'True'
