name: Run python tests with pytest

# on:
#   push:
#     branches:
#       - main
#     tags:
#       - '*'
#   repository_dispatch:
on: [repository_dispatch, workflow_dispatch]

jobs:
  pytest_and_coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      - name: Run tests
        run: |
          pytest --cov=your_package_name